{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {"ecmaVersion": 2017},
  "plugins": ["node"],
  "extends": "airbnb-base",
  "rules": {
    "linebreak-style": 0,
    "node/exports-style": ["error", "module.exports"],
    "no-console": 0,
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreComments": true
      }
    ],
    "no-restricted-syntax": 0,
    "no-await-in-loop": 0
  }
}
